# 忽略 Data, logs, models
data/
logs/
*.log
*.bin
*.pth
*.pth.tar
*.pkl


# 忽略 Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# 忽略 bert-base-uncased directories
bert-base-uncased1/

# 忽略 压缩包
*.zip
*.tar.gz
*.tar.bz2
*.rar
*.7z


